# MANIFEST.in
exclude .gitignore
exclude .coverage
exclude .travis.yml
include README.rst
include LICENSE
include CHANGELOG.md
include setup.cfg
include requirements.txt
include requirements-travis.txt
prune .cache
prune .git
prune build
prune dist
recursive-exclude *.egg-info *
recursive-include tests *
